# 1. Basic DataFrame Properties

In [1]:
import pandas as pd
import seaborn as sns

In [17]:
df = pd.read_csv('pokemon.csv')

In [18]:
df

              Name              Type
0        Bulbasaur     Grass, Poison
1          Ivysaur     Grass, Poison
2         Venusaur     Grass, Poison
3       Charmander              Fire
4       Charmeleon              Fire
...            ...               ...
1005  Iron Valiant   Fairy, Fighting
1006      Koraidon  Fighting, Dragon
1007      Miraidon  Electric, Dragon
1008  Walking Wake     Water, Dragon
1009   Iron Leaves    Grass, Psychic

[1010 rows x 2 columns]

# 2. DataFrame: Data Type & Object Management

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1010 non-null   object
 1   Type    1010 non-null   object
dtypes: object(2)
memory usage: 15.9+ KB

In [ ]:
df.convert_dtypes()

              Name              Type
0        Bulbasaur     Grass, Poison
1          Ivysaur     Grass, Poison
2         Venusaur     Grass, Poison
3       Charmander              Fire
4       Charmeleon              Fire
...            ...               ...
1005  Iron Valiant   Fairy, Fighting
1006      Koraidon  Fighting, Dragon
1007      Miraidon  Electric, Dragon
1008  Walking Wake     Water, Dragon
1009   Iron Leaves    Grass, Psychic

[1010 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1010 non-null   object
 1   Type    1010 non-null   object
dtypes: object(2)
memory usage: 15.9+ KB

In [ ]:
wp = pd.read_excel('world_gdp.xlsx')

In [ ]:
wp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 76 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Continent  2128 non-null   object
 1   COUNTRY    2128 non-null   object
 2   INDICATOR  2128 non-null   object
 3   1950       765 non-null    float64
 4   1951       1464 non-null   float64
 5   1952       1473 non-null   float64
 6   1953       1480 non-null   float64
 7   1954       1480 non-null   float64
 8   1955       1480 non-null   float64
 9   1956       1480 non-null   float64
 10  1957       1480 non-null   float64
 11  1958       1480 non-null   float64
 12  1959       1480 non-null   float64
 13  1960       1480 non-null   float64
 14  1961       1480 non-null   float64
 15  1962       1480 non-null   float64
 16  1963       1480 non-null   float64
 17  1964       1483 non-null   float64
 18  1965       1484 non-null   float64
 19  1966       1484 non-null   float64
 20  1967       1484 non-null   float64
 21  1968       1484 non-null   float64
 22  1969       1484 non-null   float64
 23  1970       1652 non-null   float64
 24  1971       1792 non-null   float64
 25  1972       1792 non-null   float64
 26  1973       1792 non-null   float64
 27  1974       1792 non-null   float64
 28  1975       1792 non-null   float64
 29  1976       1792 non-null   float64
 30  1977       1792 non-null   float64
 31  1978       1792 non-null   float64
 32  1979       1792 non-null   float64
 33  1980       1795 non-null   float64
 34  1981       1799 non-null   float64
 35  1982       1800 non-null   float64
 36  1983       1800 non-null   float64
 37  1984       1800 non-null   float64
 38  1985       1800 non-null   float64
 39  1986       1803 non-null   float64
 40  1987       1807 non-null   float64
 41  1988       1808 non-null   float64
 42  1989       1808 non-null   float64
 43  1990       1817 non-null   float64
 44  1991       1823 non-null   float64
 45  1992       1827 non-null   float64
 46  1993       1834 non-null   float64
 47  1994       1839 non-null   float64
 48  1995       1867 non-null   float64
 49  1996       1876 non-null   float64
 50  1997       1876 non-null   float64
 51  1998       1876 non-null   float64
 52  1999       1876 non-null   float64
 53  2000       1876 non-null   float64
 54  2001       1879 non-null   float64
 55  2002       1880 non-null   float64
 56  2003       1880 non-null   float64
 57  2004       1880 non-null   float64
 58  2005       2066 non-null   float64
 59  2006       2128 non-null   float64
 60  2007       2128 non-null   float64
 61  2008       2128 non-null   float64
 62  2009       2128 non-null   float64
 63  2010       2128 non-null   float64
 64  2011       2128 non-null   float64
 65  2012       2128 non-null   float64
 66  2013       2128 non-null   float64
 67  2014       2128 non-null   float64
 68  2015       2128 non-null   float64
 69  2016       2128 non-null   float64
 70  2017       2128 non-null   float64
 71  2018       2128 non-null   float64
 72  2019       2128 non-null   float64
 73  2020       2128 non-null   float64
 74  2021       2128 non-null   float64
 75  2022       2128 non-null   float64
dtypes: float64(73), object(3)
memory usage: 1.2+ MB

In [ ]:
wp.infer_objects()

,Continent,COUNTRY,INDICATOR,1950,1951,1952,1953,1954,1955,1956,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa,Algeria,Real GDP,40781.7,41067.2,42902.4,43840.4,46409.6,47796.2,52486.1,...,473808.3,491813.0,510010.1,526330.4,533699.1,540103.5,544424.3,517747.5,533279.9,549278.3
1,Africa,Algeria,Nominal GDP,4508.7,4862.1,5167.2,5344.1,5709.6,5979.6,6790.0,...,407286.1,430668.2,451071.3,470170.8,485801.4,503376.2,516479.3,497091.5,533279.9,579518.5
2,Africa,Algeria,Employment,1744.0,1758.3,1776.7,1802.9,1795.5,1815.8,1832.1,...,10788.0,10239.0,10594.0,10845.0,10858.0,11001.0,11140.9,10541.0,10779.3,11252.6
3,Africa,Algeria,Average Hours Worked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2230.0,2212.8,2195.5,2212.5,2176.3,2170.5,2159.7,2070.6,2100.7,2174.6
4,Africa,Algeria,Total Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24057.6,22656.5,23259.0,23994.2,23629.9,23878.0,24060.8,21826.2,22643.8,24469.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,Western Europe,United Kingdom,Total Hours growth,NaN,1.9,-1.5,0.7,1.6,1.0,0.3,...,1.8,2.8,1.5,1.4,1.1,0.8,1.4,-10.6,6.4,5.0
2124,Western Europe,United Kingdom,Population growth,NaN,0.3,0.3,0.3,0.3,0.4,0.5,...,0.6,0.8,0.8,0.8,0.6,0.6,0.5,0.4,0.6,0.6
2125,Western Europe,United Kingdom,Output per Employed Person growth,NaN,2.2,1.6,5.1,2.9,2.9,0.8,...,0.7,0.6,0.9,0.8,1.1,0.5,0.6,-8.5,8.0,2.2
2126,Western Europe,United Kingdom,Output per Hour Worked growth,NaN,1.8,3.1,4.9,2.7,3.0,1.4,...,0.1,0.2,1.1,0.9,1.1,0.8,0.3,1.4,1.0,-1.1
2127,Western Europe,United Kingdom,Per Capita Income growth,NaN,3.4,1.2,5.2,4.0,3.6,1.2,...,1.3,2.2,1.8,1.4,1.5,1.0,1.1,-9.7,6.8,3.4

In [ ]:
wp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 76 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Continent  2128 non-null   object
 1   COUNTRY    2128 non-null   object
 2   INDICATOR  2128 non-null   object
 3   1950       765 non-null    float64
 4   1951       1464 non-null   float64
 5   1952       1473 non-null   float64
 6   1953       1480 non-null   float64
 7   1954       1480 non-null   float64
 8   1955       1480 non-null   float64
 9   1956       1480 non-null   float64
 10  1957       1480 non-null   float64
 11  1958       1480 non-null   float64
 12  1959       1480 non-null   float64
 13  1960       1480 non-null   float64
 14  1961       1480 non-null   float64
 15  1962       1480 non-null   float64
 16  1963       1480 non-null   float64
 17  1964       1483 non-null   float64
 18  1965       1484 non-null   float64
 19  1966       1484 non-null   float64
 20  1967       1484 non-null   float64
 21  1968       1484 non-null   float64
 22  1969       1484 non-null   float64
 23  1970       1652 non-null   float64
 24  1971       1792 non-null   float64
 25  1972       1792 non-null   float64
 26  1973       1792 non-null   float64
 27  1974       1792 non-null   float64
 28  1975       1792 non-null   float64
 29  1976       1792 non-null   float64
 30  1977       1792 non-null   float64
 31  1978       1792 non-null   float64
 32  1979       1792 non-null   float64
 33  1980       1795 non-null   float64
 34  1981       1799 non-null   float64
 35  1982       1800 non-null   float64
 36  1983       1800 non-null   float64
 37  1984       1800 non-null   float64
 38  1985       1800 non-null   float64
 39  1986       1803 non-null   float64
 40  1987       1807 non-null   float64
 41  1988       1808 non-null   float64
 42  1989       1808 non-null   float64
 43  1990       1817 non-null   float64
 44  1991       1823 non-null   float64
 45  1992       1827 non-null   float64
 46  1993       1834 non-null   float64
 47  1994       1839 non-null   float64
 48  1995       1867 non-null   float64
 49  1996       1876 non-null   float64
 50  1997       1876 non-null   float64
 51  1998       1876 non-null   float64
 52  1999       1876 non-null   float64
 53  2000       1876 non-null   float64
 54  2001       1879 non-null   float64
 55  2002       1880 non-null   float64
 56  2003       1880 non-null   float64
 57  2004       1880 non-null   float64
 58  2005       2066 non-null   float64
 59  2006       2128 non-null   float64
 60  2007       2128 non-null   float64
 61  2008       2128 non-null   float64
 62  2009       2128 non-null   float64
 63  2010       2128 non-null   float64
 64  2011       2128 non-null   float64
 65  2012       2128 non-null   float64
 66  2013       2128 non-null   float64
 67  2014       2128 non-null   float64
 68  2015       2128 non-null   float64
 69  2016       2128 non-null   float64
 70  2017       2128 non-null   float64
 71  2018       2128 non-null   float64
 72  2019       2128 non-null   float64
 73  2020       2128 non-null   float64
 74  2021       2128 non-null   float64
 75  2022       2128 non-null   float64
dtypes: float64(73), object(3)
memory usage: 1.2+ MB

In [ ]:
wp = wp.set_flags(allows_duplicate_labels=False)
wp

,Continent,COUNTRY,INDICATOR,1950,1951,1952,1953,1954,1955,1956,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa,Algeria,Real GDP,40781.7,41067.2,42902.4,43840.4,46409.6,47796.2,52486.1,...,473808.3,491813.0,510010.1,526330.4,533699.1,540103.5,544424.3,517747.5,533279.9,549278.3
1,Africa,Algeria,Nominal GDP,4508.7,4862.1,5167.2,5344.1,5709.6,5979.6,6790.0,...,407286.1,430668.2,451071.3,470170.8,485801.4,503376.2,516479.3,497091.5,533279.9,579518.5
2,Africa,Algeria,Employment,1744.0,1758.3,1776.7,1802.9,1795.5,1815.8,1832.1,...,10788.0,10239.0,10594.0,10845.0,10858.0,11001.0,11140.9,10541.0,10779.3,11252.6
3,Africa,Algeria,Average Hours Worked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2230.0,2212.8,2195.5,2212.5,2176.3,2170.5,2159.7,2070.6,2100.7,2174.6
4,Africa,Algeria,Total Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24057.6,22656.5,23259.0,23994.2,23629.9,23878.0,24060.8,21826.2,22643.8,24469.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,Western Europe,United Kingdom,Total Hours growth,NaN,1.9,-1.5,0.7,1.6,1.0,0.3,...,1.8,2.8,1.5,1.4,1.1,0.8,1.4,-10.6,6.4,5.0
2124,Western Europe,United Kingdom,Population growth,NaN,0.3,0.3,0.3,0.3,0.4,0.5,...,0.6,0.8,0.8,0.8,0.6,0.6,0.5,0.4,0.6,0.6
2125,Western Europe,United Kingdom,Output per Employed Person growth,NaN,2.2,1.6,5.1,2.9,2.9,0.8,...,0.7,0.6,0.9,0.8,1.1,0.5,0.6,-8.5,8.0,2.2
2126,Western Europe,United Kingdom,Output per Hour Worked growth,NaN,1.8,3.1,4.9,2.7,3.0,1.4,...,0.1,0.2,1.1,0.9,1.1,0.8,0.3,1.4,1.0,-1.1
2127,Western Europe,United Kingdom,Per Capita Income growth,NaN,3.4,1.2,5.2,4.0,3.6,1.2,...,1.3,2.2,1.8,1.4,1.5,1.0,1.1,-9.7,6.8,3.4

In [ ]:
df = sns.load_dataset('diamonds')

df.attrs['data_source'] = '2023_inventory_db'
df.attrs['cleaning_notes'] = 'Nulls filled with median values'

# Preserved through operations unless explicitly cleared
filtered = df[df['price'] > 1000]
print(filtered.attrs)  # Maintains original metadata

{'data_source': '2023_inventory_db', 'cleaning_notes': 'Nulls filled with median values'}

In [ ]:
wp.attrs['data_source'] = '2023_world_data from univeristy of Oxford'

In [ ]:
wp.columns.to_list()

['Continent',
 'COUNTRY',
 'INDICATOR',
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [ ]:
filter = wp[1965]
filter.attrs['cleaning_notes'] = '1965_world_data from univeristy of Oxford'

In [ ]:
print(filter.attrs)  # Displays metadata attributes

{'data_source': '2023_world_data from univeristy of Oxford', 'cleaning_notes': '1965_world_data from univeristy of Oxford'}

In [ ]:
wp.columns

Index(['Continent',   'COUNTRY', 'INDICATOR',        1950,        1951,
              1952,        1953,        1954,        1955,        1956,
              1957,        1958,        1959,        1960,        1961,
              1962,        1963,        1964,        1965,        1966,
              1967,        1968,        1969,        1970,        1971,
              1972,        1973,        1974,        1975,        1976,
              1977,        1978,        1979,        1980,        1981,
              1982,        1983,        1984,        1985,        1986,
              1987,        1988,        1989,        1990,        1991,
              1992,        1993,        1994,        1995,        1996,
              1997,        1998,        1999,        2000,        2001,
              2002,        2003,        2004,        2005,        2006,
              2007,        2008,        2009,        2010,        2011,
              2012,        2013,        2014,        2015,        2016,
              2017,        2018,        2019,        2020,        2021,
              2022],
      dtype='object')

In [ ]:
wp

,Continent,COUNTRY,INDICATOR,1950,1951,1952,1953,1954,1955,1956,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa,Algeria,Real GDP,40781.7,41067.2,42902.4,43840.4,46409.6,47796.2,52486.1,...,473808.3,491813.0,510010.1,526330.4,533699.1,540103.5,544424.3,517747.5,533279.9,549278.3
1,Africa,Algeria,Nominal GDP,4508.7,4862.1,5167.2,5344.1,5709.6,5979.6,6790.0,...,407286.1,430668.2,451071.3,470170.8,485801.4,503376.2,516479.3,497091.5,533279.9,579518.5
2,Africa,Algeria,Employment,1744.0,1758.3,1776.7,1802.9,1795.5,1815.8,1832.1,...,10788.0,10239.0,10594.0,10845.0,10858.0,11001.0,11140.9,10541.0,10779.3,11252.6
3,Africa,Algeria,Average Hours Worked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2230.0,2212.8,2195.5,2212.5,2176.3,2170.5,2159.7,2070.6,2100.7,2174.6
4,Africa,Algeria,Total Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24057.6,22656.5,23259.0,23994.2,23629.9,23878.0,24060.8,21826.2,22643.8,24469.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,Western Europe,United Kingdom,Total Hours growth,NaN,1.9,-1.5,0.7,1.6,1.0,0.3,...,1.8,2.8,1.5,1.4,1.1,0.8,1.4,-10.6,6.4,5.0
2124,Western Europe,United Kingdom,Population growth,NaN,0.3,0.3,0.3,0.3,0.4,0.5,...,0.6,0.8,0.8,0.8,0.6,0.6,0.5,0.4,0.6,0.6
2125,Western Europe,United Kingdom,Output per Employed Person growth,NaN,2.2,1.6,5.1,2.9,2.9,0.8,...,0.7,0.6,0.9,0.8,1.1,0.5,0.6,-8.5,8.0,2.2
2126,Western Europe,United Kingdom,Output per Hour Worked growth,NaN,1.8,3.1,4.9,2.7,3.0,1.4,...,0.1,0.2,1.1,0.9,1.1,0.8,0.3,1.4,1.0,-1.1
2127,Western Europe,United Kingdom,Per Capita Income growth,NaN,3.4,1.2,5.2,4.0,3.6,1.2,...,1.3,2.2,1.8,1.4,1.5,1.0,1.1,-9.7,6.8,3.4

In [ ]:
# Ensure 'Continent' is set as the index
if 'Continent' in wp.columns:
	wp = wp.set_index('Continent')

# Access the value for 'Africa' and year 1953
wp.at['Africa', 1953]

DuplicateLabelError: Index has duplicates.
                                                positions
label
Africa  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...

In [2]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic').set_index('class')

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone
class,,,,,,,,,,,,,,
Third,0,3,male,22.0,1,0,7.2500,S,man,True,NaN,Southampton,no,False
First,1,1,female,38.0,1,0,71.2833,C,woman,False,C,Cherbourg,yes,False
Third,1,3,female,26.0,0,0,7.9250,S,woman,False,NaN,Southampton,yes,True
First,1,1,female,35.0,1,0,53.1000,S,woman,False,C,Southampton,yes,False
Third,0,3,male,35.0,0,0,8.0500,S,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Second,0,2,male,27.0,0,0,13.0000,S,man,True,NaN,Southampton,no,True
First,1,1,female,19.0,0,0,30.0000,S,woman,False,B,Southampton,yes,True
Third,0,3,female,NaN,1,2,23.4500,S,woman,False,NaN,Southampton,no,False
First,1,1,male,26.0,0,0,30.0000,C,man,True,C,Cherbourg,yes,True
Third,0,3,male,32.0,0,0,7.7500,Q,man,True,NaN,Queenstown,no,True

In [ ]:
df.columns.to_list()

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

# 3. Label-Based & Positional Access

In [ ]:
# Get fare for First class passenger at index 1
fare = df.at['First', 'fare']

# 4. DataFrame: Iteration & Basic Loops

In [2]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [3]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [4]:
# Analyze each column
for col_name, col_data in df.items():
    print(f"\n=== {col_name} ===")
    print(f"Data type: {col_data.dtype}")
    print(f"Non-null count: {col_data.count()}/{len(col_data)}")
    if col_data.dtype == 'object':
        print(f"Unique values: {col_data.nunique()}")

=== survived ===
Data type: int64
Non-null count: 891/891

=== pclass ===
Data type: int64
Non-null count: 891/891

=== sex ===
Data type: object
Non-null count: 891/891
Unique values: 2

=== age ===
Data type: float64
Non-null count: 714/891

=== sibsp ===
Data type: int64
Non-null count: 891/891

=== parch ===
Data type: int64
Non-null count: 891/891

=== fare ===
Data type: float64
Non-null count: 891/891

=== embarked ===
Data type: object
Non-null count: 889/891
Unique values: 3

=== class ===
Data type: category
Non-null count: 891/891

=== who ===
Data type: object
Non-null count: 891/891
Unique values: 3

=== adult_male ===
Data type: bool
Non-null count: 891/891

=== deck ===
Data type: category
Non-null count: 203/891

=== embark_town ===
Data type: object
Non-null count: 889/891
Unique values: 3

=== alive ===
Data type: object
Non-null count: 891/891
Unique values: 2

=== alone ===
Data type: bool
Non-null count: 891/891

In [9]:
quality_report = {}

for col_name, col_data in df.items():
    quality_report[col_name] = {
        'null_count': col_data.isnull().sum(),
        'unique_count': col_data.nunique(),
        'dtype': str(col_data.dtype)
    }

In [13]:
print(list(quality_report.keys()))  # Converts the dictionary keys to a list and prints them

['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

In [15]:
# Apply different transformations based on dtype
for col_name, col_data in df.items():
    if col_data.dtype == 'object':
        df[col_name] = col_data.str.upper()
    elif col_data.dtype in ['int64', 'float64']:
        df[col_name] = col_data.fillna(col_data.median())
        
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    MALE  22.0      1      0   7.2500        S  Third
1         1       1  FEMALE  38.0      1      0  71.2833        C  First
2         1       3  FEMALE  26.0      0      0   7.9250        S  Third
3         1       1  FEMALE  35.0      1      0  53.1000        S  First
4         0       3    MALE  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    MAN        True  NaN  SOUTHAMPTON    NO  False
1  WOMAN       False    C    CHERBOURG   YES  False
2  WOMAN       False  NaN  SOUTHAMPTON   YES   True
3  WOMAN       False    C  SOUTHAMPTON   YES  False
4    MAN        True  NaN  SOUTHAMPTON    NO   True

In [16]:
for col_name, col_data in df.items():
    if col_data.dtype == 'object':
        print(f"\n=== {col_name} ===")
        print(col_data.value_counts(dropna=False))

=== sex ===
sex
MALE      577
FEMALE    314
Name: count, dtype: int64

=== embarked ===
embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

=== who ===
who
MAN      537
WOMAN    271
CHILD     83
Name: count, dtype: int64

=== embark_town ===
embark_town
SOUTHAMPTON    644
CHERBOURG      168
QUEENSTOWN      77
NaN              2
Name: count, dtype: int64

=== alive ===
alive
NO     549
YES    342
Name: count, dtype: int64

In [18]:
df.columns.to_list()

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [19]:
for col in df:
    print(col)

survived
pclass
sex
age
sibsp
parch
fare
embarked
class
who
adult_male
deck
embark_town
alive
alone

In [21]:
for col, key in df.items():
    print(key)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: pclass, Length: 891, dtype: int64
0        MALE
1      FEMALE
2      FEMALE
3      FEMALE
4        MALE
        ...
886      MALE
887    FEMALE
888    FEMALE
889      MALE
890      MALE
Name: sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: sibsp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: parch, Length: 891, dtype: int64
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object
0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): ['First', 'Second', 'Third']
0        MAN
1      WOMAN
2      WOMAN
3      WOMAN
4        MAN
       ...
886      MAN
887    WOMAN
888    WOMAN
889      MAN
890      MAN
Name: who, Length: 891, dtype: object
0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: adult_male, Length: 891, dtype: bool
0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']
0      SOUTHAMPTON
1        CHERBOURG
2      SOUTHAMPTON
3      SOUTHAMPTON
4      SOUTHAMPTON
          ...
886    SOUTHAMPTON
887    SOUTHAMPTON
888    SOUTHAMPTON
889      CHERBOURG
890     QUEENSTOWN
Name: embark_town, Length: 891, dtype: object
0       NO
1      YES
2      YES
3      YES
4       NO
      ...
886     NO
887    YES
888     NO
889    YES
890     NO
Name: alive, Length: 891, dtype: object
0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: alone, Length: 891, dtype: bool

In [24]:
def calculate_survival_risk(row):
    age_factor = 0.1 if row['age'] < 18 else 0.3
    class_factor = 0.1 if row['pclass'] == 1 else 0.4
    return age_factor + class_factor

for idx, row in df.iterrows():
    df.at[idx, 'risk_score'] = calculate_survival_risk(row)
    
print(idx)

890

# 5. Quick Inspection & Conversion

In [40]:
df_clean = (df
            .dropna()
            .query('risk_score == 0.4')
            )
            

df_clean

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,risk_score
1,1,1,FEMALE,38.0,1,0,71.2833,C,First,WOMAN,False,C,CHERBOURG,YES,False,0.4
3,1,1,FEMALE,35.0,1,0,53.1000,S,First,WOMAN,False,C,SOUTHAMPTON,YES,False,0.4
6,0,1,MALE,54.0,0,0,51.8625,S,First,MAN,True,E,SOUTHAMPTON,NO,True,0.4
11,1,1,FEMALE,58.0,0,0,26.5500,S,First,WOMAN,False,C,SOUTHAMPTON,YES,True,0.4
23,1,1,MALE,28.0,0,0,35.5000,S,First,MAN,True,A,SOUTHAMPTON,YES,True,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,FEMALE,47.0,1,1,52.5542,S,First,WOMAN,False,D,SOUTHAMPTON,YES,False,0.4
872,0,1,MALE,33.0,0,0,5.0000,S,First,MAN,True,B,SOUTHAMPTON,NO,True,0.4
879,1,1,FEMALE,56.0,0,1,83.1583,C,First,WOMAN,False,C,CHERBOURG,YES,False,0.4
887,1,1,FEMALE,19.0,0,0,30.0000,S,First,WOMAN,False,B,SOUTHAMPTON,YES,True,0.4
889,1,1,MALE,26.0,0,0,30.0000,C,First,MAN,True,C,CHERBOURG,YES,True,0.4

In [35]:
df_clean

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,risk_score
1,1,1,FEMALE,38.0,1,0,71.2833,C,First,WOMAN,False,C,CHERBOURG,YES,False,0.4
3,1,1,FEMALE,35.0,1,0,53.1000,S,First,WOMAN,False,C,SOUTHAMPTON,YES,False,0.4
6,0,1,MALE,54.0,0,0,51.8625,S,First,MAN,True,E,SOUTHAMPTON,NO,True,0.4
11,1,1,FEMALE,58.0,0,0,26.5500,S,First,WOMAN,False,C,SOUTHAMPTON,YES,True,0.4
21,1,2,MALE,34.0,0,0,13.0000,S,Second,MAN,True,D,SOUTHAMPTON,YES,True,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,FEMALE,47.0,1,1,52.5542,S,First,WOMAN,False,D,SOUTHAMPTON,YES,False,0.4
872,0,1,MALE,33.0,0,0,5.0000,S,First,MAN,True,B,SOUTHAMPTON,NO,True,0.4
879,1,1,FEMALE,56.0,0,1,83.1583,C,First,WOMAN,False,C,CHERBOURG,YES,False,0.4
887,1,1,FEMALE,19.0,0,0,30.0000,S,First,WOMAN,False,B,SOUTHAMPTON,YES,True,0.4
889,1,1,MALE,26.0,0,0,30.0000,C,First,MAN,True,C,CHERBOURG,YES,True,0.4

In [42]:
import numpy as np

In [43]:
# Quick data validation after operations
def process_data(df):
    processed = df.copy()
    # ... complex processing ...
    print("First 3 rows after processing:")
    print(processed.head(3))
    return processed

# Pipeline debugging
df_clean = (df
           .dropna()
           .query('age > 18')
           .assign(age_group=lambda x: np.where(x['age'] > 30, 'adult', 'young')))
print("Pipeline result preview:")
print(df_clean.head())

Pipeline result preview:
    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1          1       1  FEMALE  38.0      1      0  71.2833        C   First
3          1       1  FEMALE  35.0      1      0  53.1000        S   First
6          0       1    MALE  54.0      0      0  51.8625        S   First
11         1       1  FEMALE  58.0      0      0  26.5500        S   First
21         1       2    MALE  34.0      0      0  13.0000        S  Second

      who  adult_male deck  embark_town alive  alone  risk_score age_group
1   WOMAN       False    C    CHERBOURG   YES  False         0.4     adult
3   WOMAN       False    C  SOUTHAMPTON   YES  False         0.4     adult
6     MAN        True    E  SOUTHAMPTON    NO   True         0.4     adult
11  WOMAN       False    C  SOUTHAMPTON   YES   True         0.4     adult
21    MAN        True    D  SOUTHAMPTON   YES   True         0.7     adult

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  risk_score   891 non-null    float64
dtypes: bool(2), category(2), float64(3), int64(4), object(5)
memory usage: 87.6+ KB

In [45]:
# Common issue: dtype coercion
mixed_array = df[['age', 'sex', 'fare']].values
print(mixed_array.dtype)

object

# 6. Math, Binary Operations & Comparison

In [12]:
import seaborn as sns
import numpy as np
df = sns.load_dataset('titanic')

In [13]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [15]:
df_age_plus_10 = df['age'].add(10) 
df_age_plus_10

0      32.0
1      48.0
2      36.0
3      45.0
4      45.0
       ...
886    37.0
887    29.0
888     NaN
889    36.0
890    42.0
Name: age, Length: 891, dtype: float64

In [17]:
df_age_till_date = df['age'].add(100)
df_age_till_date

0      122.0
1      138.0
2      126.0
3      135.0
4      135.0
       ...
886    127.0
887    119.0
888      NaN
889    126.0
890    132.0
Name: age, Length: 891, dtype: float64

In [18]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [21]:
# DataFrame operations with alignment
df1 = df[['age', 'fare']].head(3)
df2 = df[['age', 'fare']].tail(3)

In [22]:
# Element-wise addition (aligns on index)
result = df1.add(df2, fill_value=0)

In [23]:
result

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

In [25]:
# True division (standard / operator)
true_div = df['fare'].div(df['age'])  # Returns floats
true_div

0      0.329545
1      1.875876
2      0.304808
3      1.517143
4      0.230000
         ...
886    0.481481
887    1.578947
888         NaN
889    1.153846
890    0.242188
Length: 891, dtype: float64

In [29]:
true_div.add(1929)

0      1929.329545
1      1930.875876
2      1929.304808
3      1930.517143
4      1929.230000
          ...
886    1929.481481
887    1930.578947
888            NaN
889    1930.153846
890    1929.242188
Length: 891, dtype: float64

In [16]:
df

   Sales  Profit
0    100      20
1    200      50
2    300      70
3    500      56
4    900      70
5    785      54
6    560      34
7    340      67

In [33]:
impact = df['fare'].floordiv(df['age'])
impact

0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
      ...
886    0.0
887    1.0
888    NaN
889    1.0
890    0.0
Length: 891, dtype: float64

In [34]:
# Create correlation matrix example
numeric_df = df.select_dtypes(include='number').fillna(0)

# Matrix multiplication (if dimensions allow)
weights = pd.DataFrame({'weight': [0.3, 0.4, 0.3]},
                      index=['age', 'fare', 'pclass'])

# Dot product for weighted sum
if numeric_df.shape[1] == weights.shape[0]:
    weighted_score = numeric_df.dot(weights)

In [45]:
weights.shape[0]

3

In [42]:
numeric_df.shape

(891, 6)

In [43]:
numeric_df.shape[0]

891

In [44]:
numeric_df.shape[1]

6

In [37]:
numeric_df

     survived  pclass   age  sibsp  parch     fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   0.0      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]

# 7. Function Application

### Examples

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load sample datasets
tips = sns.load_dataset('tips')
flights = sns.load_dataset('flights')
titanic = sns.load_dataset('titanic')
iris = sns.load_dataset('iris')

print("Datasets loaded:")
print(f"Tips shape: {tips.shape}")
print(f"Flights shape: {flights.shape}")
print(f"Titanic shape: {titanic.shape}")
print(f"Iris shape: {iris.shape}")

Datasets loaded:
Tips shape: (244, 7)
Flights shape: (144, 3)
Titanic shape: (891, 15)
Iris shape: (150, 5)

In [2]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
# Basic statistical operations on tips dataset
print("=== Column-wise Operations (axis=0) ===")
print("--"*30)

# Apply single function to all numeric columns
numeric_cols = tips.select_dtypes(include=[np.number])
print("Mean of numeric columns:")
print(numeric_cols.apply(np.mean))
print("--"*30)

print("\nStandard deviation of numeric columns:")
print(numeric_cols.apply(np.std))
print("--"*30)

# Apply custom function
def coefficient_of_variation(series):
    """Calculate coefficient of variation (CV = std/mean)"""
    return series.std() / series.mean()

print("\nCoefficient of Variation:")
print(numeric_cols.apply(coefficient_of_variation))
print("--"*30)

# Apply lambda function
print("\nRange (max - min):")
print(numeric_cols.apply(lambda x: x.max() - x.min()))
print("--"*30)

# Multiple functions at once
print("\nMultiple statistics:")
print(numeric_cols.apply(['mean', 'std', 'min', 'max']))

=== Column-wise Operations (axis=0) ===
------------------------------------------------------------
Mean of numeric columns:
total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64
------------------------------------------------------------

Standard deviation of numeric columns:
total_bill    8.884151
tip           1.380800
size          0.949149
dtype: float64
------------------------------------------------------------

Coefficient of Variation:
total_bill    0.449936
tip           0.461478
size          0.370125
dtype: float64
------------------------------------------------------------

Range (max - min):
total_bill    47.74
tip            9.00
size           5.00
dtype: float64
------------------------------------------------------------

Multiple statistics:
      total_bill        tip      size
mean   19.785943   2.998279  2.569672
std     8.902412   1.383638  0.951100
min     3.070000   1.000000  1.000000
max    50.810000  10.000000  6.000000

In [4]:
import seaborn as sns
import numpy as np
df = sns.load_dataset('titanic')

# Apply to each column
column_stats = df.apply(lambda x: x.nunique(), axis=0)
print("Unique values per column:")
print(column_stats)

# Multiple statistics per column
def column_summary(series):
    return pd.Series({
        'mean': series.mean(),
        'std': series.std(),
        'null_count': series.isnull().sum()
    })

summary = df.select_dtypes(include='number').apply(column_summary)

Unique values per column:
survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

In [5]:
column_summary(df['age'])

mean           29.699118
std            14.526497
null_count    177.000000
dtype: float64

In [5]:
import pandas as pd
df = pd.DataFrame({
    'Sales': [100, 200, 300, 500, 900, 785, 560, 340],
    'Profit': [20, 50, 70,56,70,54,34,67]
})

result = df.apply(max, axis=1)  # row-wise
print(result)

0    100
1    200
2    300
3    500
4    900
5    785
6    560
7    340
dtype: int64

In [6]:
df

   Sales  Profit
0    100      20
1    200      50
2    300      70
3    500      56
4    900      70
5    785      54
6    560      34
7    340      67

In [7]:
result2 = df.apply([min, max], axis=1)  # column-wise
print(result2)

   min  max
0   20  100
1   50  200
2   70  300
3   56  500
4   70  900
5   54  785
6   34  560
7   67  340

###  Practice

In [40]:
import pandas as pd
import numpy as np

In [41]:
file = r'/Users/teslim/TeslimWorkSpace/TheData/The_data_grp1.xlsx'

In [42]:
uk_pg4 = pd.read_excel(file, sheet_name='uk_polls', engine='openpyxl')
uk_pg4.head()

  Constituency code  ... Sewage overflows: Total duration of spills within constituency (hrs)
0         E14001063  ...                                             366.75
1         E14001064  ...                                             299.62
2         E14001065  ...                                            5740.32
3         E14001066  ...                                           15596.86
4         E14001067  ...                                           34098.61

[5 rows x 48 columns]

In [43]:
def change_column_header(df):
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "_")
    df.columns = df.columns.str.strip()
    return df


# calling the function 
change_column_header(uk_pg4)

    constituency_code  ... sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)
0           E14001063  ...                                             366.75
1           E14001064  ...                                             299.62
2           E14001065  ...                                            5740.32
3           E14001066  ...                                           15596.86
4           E14001067  ...                                           34098.61
..                ...  ...                                                ...
570         W07000108  ...                                            4209.50
571         W07000109  ...                                           19765.50
572         W07000110  ...                                           25562.50
573         W07000111  ...                                           10547.75
574         W07000112  ...                                           27077.25

[575 rows x 48 columns]

In [44]:
uk_pg4.columns.to_list()

['constituency_code',
 'constituency',
 'sub-region',
 'region',
 'ge2019_implied_results:_mp_name',
 'ge2019_implied_results:_party',
 'ge2019_implied_results:_electorate',
 'ge2019_implied_results:_majority',
 'poll:_environment/climate_change_important_issues_at_next_election_(%)',
 'local_green_economy:_gva_(£m)',
 'local_green_economy:_%_of_total_gva',
 'local_green_economy:_fte_jobs',
 'local_green_economy:_fte_jobs_(%)',
 'energy_crisis_hotspots:_neighbourhoods_(no.)',
 'energy_crisis_hotspots:_neighbourhoods_(%)',
 'energy_crisis_hotspots:_average_energy_bill_(£)',
 'epcs:_homes_in_bands_a/b/c_(%)',
 'epcs:_homes_in_bands_d/e/f/g_(%)',
 'epcs:_homes_in_bands_a/b/c_(no.)',
 'epcs:_homes_in_bands_d/e/f/g_(no.)',
 'epcs:_loft_insulation_recommendations_(%)',
 'epcs:_cavity_wall_insulation_recommendations_(%)',
 'epcs:_solid_wall_insulation_recommendations_(%)',
 'epcs:_loft_insulation_recommendations_(no.)',
 'epcs:_cavity_insulation_recommendations_(no.)',
 'epcs:_solid_insulation_recommendations_(no.)',
 'respiratory_disease_prevalence_(%)',
 'air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(no.)',
 'air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(no.)',
 'air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(%)',
 'air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(%)',
 'extreme_heat:_neighbourhoods_at_risk_(no.)',
 'extreme_heat:_neighbourhoods_at_risk_(%)',
 'flooding:_neighbourhoods_at_risk_(no.)',
 'flooding:_neighbourhoods_at_risk_(%)',
 'accessible_green_space:_m2_per_person',
 'accessible_green_space:_rating_(compared_across_all_constituencies)',
 'tree_canopy_cover:_hectares',
 'tree_canopy_cover:_proportion_of_constituency_(%)',
 'tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(no.)',
 'tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(%)',
 'households_without_access_to_private_vehicles_(no.)',
 'households_without_access_to_private_vehicles_(%)',
 'bus_services:_frequency_per_hour_(2010)',
 'bus_services:_frequency_per_hour_(2023)',
 'bus_services:_change_in_frequency_of_service_2010-2023_(%)',
 'sewage_overflows:_total_number_of_spills_within_constituency',
 'sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)']

In [45]:
uk_pg4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 48 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   constituency_code                                                       575 non-null    object
 1   constituency                                                            575 non-null    object
 2   sub-region                                                              575 non-null    object
 3   region                                                                  575 non-null    object
 4   ge2019_implied_results:_mp_name                                         575 non-null    object
 5   ge2019_implied_results:_party                                           575 non-null    object
 6   ge2019_implied_results:_electorate                                      575 non-null    int64
 7   ge2019_implied_results:_majority                                        575 non-null    int64
 8   poll:_environment/climate_change_important_issues_at_next_election_(%)  575 non-null    float64
 9   local_green_economy:_gva_(£m)                                           575 non-null    float64
 10  local_green_economy:_%_of_total_gva                                     575 non-null    float64
 11  local_green_economy:_fte_jobs                                           575 non-null    float64
 12  local_green_economy:_fte_jobs_(%)                                       575 non-null    float64
 13  energy_crisis_hotspots:_neighbourhoods_(no.)                            575 non-null    int64
 14  energy_crisis_hotspots:_neighbourhoods_(%)                              575 non-null    float64
 15  energy_crisis_hotspots:_average_energy_bill_(£)                         573 non-null    float64
 16  epcs:_homes_in_bands_a/b/c_(%)                                          575 non-null    float64
 17  epcs:_homes_in_bands_d/e/f/g_(%)                                        575 non-null    float64
 18  epcs:_homes_in_bands_a/b/c_(no.)                                        575 non-null    int64
 19  epcs:_homes_in_bands_d/e/f/g_(no.)                                      575 non-null    int64
 20  epcs:_loft_insulation_recommendations_(%)                               575 non-null    float64
 21  epcs:_cavity_wall_insulation_recommendations_(%)                        575 non-null    float64
 22  epcs:_solid_wall_insulation_recommendations_(%)                         575 non-null    float64
 23  epcs:_loft_insulation_recommendations_(no.)                             575 non-null    int64
 24  epcs:_cavity_insulation_recommendations_(no.)                           575 non-null    int64
 25  epcs:_solid_insulation_recommendations_(no.)                            575 non-null    int64
 26  respiratory_disease_prevalence_(%)                                      543 non-null    float64
 27  air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(no.)      575 non-null    int64
 28  air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(no.)    575 non-null    int64
 29  air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(%)        575 non-null    float64
 30  air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(%)      575 non-null    float64
 31  extreme_heat:_neighbourhoods_at_risk_(no.)                              575 non-null    int64
 32  extreme_heat:_neighbourhoods_at_risk_(%)                                575 non-null    float64
 33  flooding:_neighbourhoods_at_risk_(no.)                                  575 non-null    int64
 34  flooding:_neighbourhoods_at_risk_(%)                                    575 non-null    float64
 35  accessible_green_space:_m2_per_person                                   543 non-null    float64
 36  accessible_green_space:_rating_(compared_across_all_constituencies)     543 non-null    object
 37  tree_canopy_cover:_hectares                                             543 non-null    float64
 38  tree_canopy_cover:_proportion_of_constituency_(%)                       543 non-null    float64
 39  tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(no.)  543 non-null    float64
 40  tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(%)    543 non-null    float64
 41  households_without_access_to_private_vehicles_(no.)                     575 non-null    int64
 42  households_without_access_to_private_vehicles_(%)                       575 non-null    float64
 43  bus_services:_frequency_per_hour_(2010)                                 575 non-null    float64
 44  bus_services:_frequency_per_hour_(2023)                                 575 non-null    float64
 45  bus_services:_change_in_frequency_of_service_2010-2023_(%)              575 non-null    float64
 46  sewage_overflows:_total_number_of_spills_within_constituency            575 non-null    int64
 47  sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)    575 non-null    float64
dtypes: float64(27), int64(14), object(7)
memory usage: 215.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 48 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   constituency_code                                                       575 non-null    object
 1   constituency                                                            575 non-null    object
 2   sub-region                                                              575 non-null    object
 3   region                                                                  575 non-null    object
 4   ge2019_implied_results:_mp_name                                         575 non-null    object
 5   ge2019_implied_results:_party                                           575 non-null    object
 6   ge2019_implied_results:_electorate                                      575 non-null    int64
 7   ge2019_implied_results:_majority                                        575 non-null    int64
 8   poll:_environment/climate_change_important_issues_at_next_election_(%)  575 non-null    float64
 9   local_green_economy:_gva_(£m)                                           575 non-null    float64
 10  local_green_economy:_%_of_total_gva                                     575 non-null    float64
 11  local_green_economy:_fte_jobs                                           575 non-null    float64
 12  local_green_economy:_fte_jobs_(%)                                       575 non-null    float64
 13  energy_crisis_hotspots:_neighbourhoods_(no.)                            575 non-null    int64
 14  energy_crisis_hotspots:_neighbourhoods_(%)                              575 non-null    float64
 15  energy_crisis_hotspots:_average_energy_bill_(£)                         573 non-null    float64
 16  epcs:_homes_in_bands_a/b/c_(%)                                          575 non-null    float64
 17  epcs:_homes_in_bands_d/e/f/g_(%)                                        575 non-null    float64
 18  epcs:_homes_in_bands_a/b/c_(no.)                                        575 non-null    int64
 19  epcs:_homes_in_bands_d/e/f/g_(no.)                                      575 non-null    int64
 20  epcs:_loft_insulation_recommendations_(%)                               575 non-null    float64
 21  epcs:_cavity_wall_insulation_recommendations_(%)                        575 non-null    float64
 22  epcs:_solid_wall_insulation_recommendations_(%)                         575 non-null    float64
 23  epcs:_loft_insulation_recommendations_(no.)                             575 non-null    int64
 24  epcs:_cavity_insulation_recommendations_(no.)                           575 non-null    int64
 25  epcs:_solid_insulation_recommendations_(no.)                            575 non-null    int64
 26  respiratory_disease_prevalence_(%)                                      543 non-null    float64
 27  air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(no.)      575 non-null    int64
 28  air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(no.)    575 non-null    int64
 29  air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(%)        575 non-null    float64
 30  air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(%)      575 non-null    float64
 31  extreme_heat:_neighbourhoods_at_risk_(no.)                              575 non-null    int64
 32  extreme_heat:_neighbourhoods_at_risk_(%)                                575 non-null    float64
 33  flooding:_neighbourhoods_at_risk_(no.)                                  575 non-null    int64
 34  flooding:_neighbourhoods_at_risk_(%)                                    575 non-null    float64
 35  accessible_green_space:_m2_per_person                                   543 non-null    float64
 36  accessible_green_space:_rating_(compared_across_all_constituencies)     543 non-null    object
 37  tree_canopy_cover:_hectares                                             543 non-null    float64
 38  tree_canopy_cover:_proportion_of_constituency_(%)                       543 non-null    float64
 39  tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(no.)  543 non-null    float64
 40  tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(%)    543 non-null    float64
 41  households_without_access_to_private_vehicles_(no.)                     575 non-null    int64
 42  households_without_access_to_private_vehicles_(%)                       575 non-null    float64
 43  bus_services:_frequency_per_hour_(2010)                                 575 non-null    float64
 44  bus_services:_frequency_per_hour_(2023)                                 575 non-null    float64
 45  bus_services:_change_in_frequency_of_service_2010-2023_(%)              575 non-null    float64
 46  sewage_overflows:_total_number_of_spills_within_constituency            575 non-null    int64
 47  sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)    575 non-null    float64
dtypes: float64(27), int64(14), object(7)
memory usage: 215.8+ KB

In [46]:
numerical_columns = uk_pg4.select_dtypes(include=['float64', 'int64'])
categorical_columns = uk_pg4.select_dtypes(exclude=['float64', 'int64'])

In [47]:
numerical_columns

     ge2019_implied_results:_electorate  ...  sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)
0                                 77531  ...                                             366.75
1                                 72512  ...                                             299.62
2                                 73107  ...                                            5740.32
3                                 70045  ...                                           15596.86
4                                 76681  ...                                           34098.61
..                                  ...  ...                                                ...
570                               73780  ...                                            4209.50
571                               70218  ...                                           19765.50
572                               70148  ...                                           25562.50
573                               70870  ...                                           10547.75
574                               51927  ...                                           27077.25

[575 rows x 41 columns]

In [48]:
numerical_columns.apply([max, min], axis=0).T

                                                              max           min
ge2019_implied_results:_electorate                   92578.000000  51927.000000
ge2019_implied_results:_majority                     34557.000000     27.000000
poll:_environment/climate_change_important_issu...       0.840000      0.520000
local_green_economy:_gva_(£m)                         3095.900000     23.100000
local_green_economy:_%_of_total_gva                      0.158600      0.012400
local_green_economy:_fte_jobs                        29257.800000    404.000000
local_green_economy:_fte_jobs_(%)                        0.059900      0.016200
energy_crisis_hotspots:_neighbourhoods_(no.)            69.000000      0.000000
energy_crisis_hotspots:_neighbourhoods_(%)               0.884615      0.000000
energy_crisis_hotspots:_average_energy_bill_(£)       2920.000000   2270.000000
epcs:_homes_in_bands_a/b/c_(%)                           0.822592      0.204969
epcs:_homes_in_bands_d/e/f/g_(%)                         0.795031      0.177408
epcs:_homes_in_bands_a/b/c_(no.)                     55414.000000   8411.000000
epcs:_homes_in_bands_d/e/f/g_(no.)                   42816.000000  11951.000000
epcs:_loft_insulation_recommendations_(%)                0.319259      0.044810
epcs:_cavity_wall_insulation_recommendations_(%)         0.443585      0.051242
epcs:_solid_wall_insulation_recommendations_(%)          0.679896      0.014613
epcs:_loft_insulation_recommendations_(no.)          14080.000000   3020.000000
epcs:_cavity_insulation_recommendations_(no.)        21520.000000   2180.000000
epcs:_solid_insulation_recommendations_(no.)         51150.000000    730.000000
respiratory_disease_prevalence_(%)                       0.119135      0.044739
air_pollution:_neighbourhoods_where_no2_above_w...      94.000000      0.000000
air_pollution:_neighbourhoods_where_pm2.5_above...      94.000000      0.000000
air_pollution:_neighbourhoods_where_no2_above_w...       1.000000      0.000000
air_pollution:_neighbourhoods_where_pm2.5_above...       1.000000      0.000000
extreme_heat:_neighbourhoods_at_risk_(no.)              94.000000      0.000000
extreme_heat:_neighbourhoods_at_risk_(%)                 1.000000      0.000000
flooding:_neighbourhoods_at_risk_(no.)                  91.000000      0.000000
flooding:_neighbourhoods_at_risk_(%)                     1.000000      0.000000
accessible_green_space:_m2_per_person                10583.600000      3.000000
tree_canopy_cover:_hectares                          39287.345709     83.504810
tree_canopy_cover:_proportion_of_constituency_(%)        0.382821      0.019634
tree_canopy_cover:_neighbourhoods_with_less_tha...      65.000000      0.000000
tree_canopy_cover:_neighbourhoods_with_less_tha...       0.984848      0.000000
households_without_access_to_private_vehicles_(...   41009.000000   3172.000000
households_without_access_to_private_vehicles_(%)        0.698442      0.075865
bus_services:_frequency_per_hour_(2010)                288.790000      3.080000
bus_services:_frequency_per_hour_(2023)                199.510000      1.450000
bus_services:_change_in_frequency_of_service_20...       0.703700     -0.818100
sewage_overflows:_total_number_of_spills_within...   12124.000000      0.000000
sewage_overflows:_total_duration_of_spills_with...  114775.500000      0.000000

In [49]:
numerical_columns.apply(np.std, axis=0)

ge2019_implied_results:_electorate                                         3075.604101
ge2019_implied_results:_majority                                           7987.052680
poll:_environment/climate_change_important_issues_at_next_election_(%)        0.052248
local_green_economy:_gva_(£m)                                               138.540602
local_green_economy:_%_of_total_gva                                           0.016613
local_green_economy:_fte_jobs                                              1282.375263
local_green_economy:_fte_jobs_(%)                                             0.005648
energy_crisis_hotspots:_neighbourhoods_(no.)                                 12.559046
energy_crisis_hotspots:_neighbourhoods_(%)                                    0.180597
energy_crisis_hotspots:_average_energy_bill_(£)                             109.306441
epcs:_homes_in_bands_a/b/c_(%)                                                0.077742
epcs:_homes_in_bands_d/e/f/g_(%)                                              0.077742
epcs:_homes_in_bands_a/b/c_(no.)                                           4904.120629
epcs:_homes_in_bands_d/e/f/g_(no.)                                         3761.513346
epcs:_loft_insulation_recommendations_(%)                                     0.034478
epcs:_cavity_wall_insulation_recommendations_(%)                              0.059039
epcs:_solid_wall_insulation_recommendations_(%)                               0.128752
epcs:_loft_insulation_recommendations_(no.)                                1462.471199
epcs:_cavity_insulation_recommendations_(no.)                              2601.951772
epcs:_solid_insulation_recommendations_(no.)                               6604.644280
respiratory_disease_prevalence_(%)                                            0.014761
air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(no.)           27.181154
air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(no.)         10.393768
air_pollution:_neighbourhoods_where_no2_above_who_guidelines_(%)              0.425854
air_pollution:_neighbourhoods_where_pm2.5_above_who_guidelines_(%)            0.147912
extreme_heat:_neighbourhoods_at_risk_(no.)                                   29.479217
extreme_heat:_neighbourhoods_at_risk_(%)                                      0.477754
flooding:_neighbourhoods_at_risk_(no.)                                       11.075059
flooding:_neighbourhoods_at_risk_(%)                                          0.163983
accessible_green_space:_m2_per_person                                       910.597265
tree_canopy_cover:_hectares                                                4660.078410
tree_canopy_cover:_proportion_of_constituency_(%)                             0.061241
tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(no.)       15.100546
tree_canopy_cover:_neighbourhoods_with_less_than_10%_tree_canopy_(%)          0.241275
households_without_access_to_private_vehicles_(no.)                        6352.922723
households_without_access_to_private_vehicles_(%)                             0.117586
bus_services:_frequency_per_hour_(2010)                                      31.344590
bus_services:_frequency_per_hour_(2023)                                      30.076713
bus_services:_change_in_frequency_of_service_2010-2023_(%)                    0.269974
sewage_overflows:_total_number_of_spills_within_constituency               1401.517578
sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)      13442.454860
dtype: float64

In [50]:
column_stats = categorical_columns.apply(lambda x: x.nunique(), axis=0)
column_stats

constituency_code                                                      575
constituency                                                           575
sub-region                                                              40
region                                                                  10
ge2019_implied_results:_mp_name                                        541
ge2019_implied_results:_party                                            9
accessible_green_space:_rating_(compared_across_all_constituencies)      3
dtype: int64

In [51]:
def coefficient_of_variation(col):
    result = col.std() / col.mean()
    return col.std(), col.mean(), result

In [52]:
numerical_columns.apply(coefficient_of_variation, axis=0).T.head()

                                                              0  ...         2
ge2019_implied_results:_electorate                  3078.282033  ...  0.041946
ge2019_implied_results:_majority                    7994.007015  ...  0.608689
poll:_environment/climate_change_important_issu...     0.052293  ...  0.074812
local_green_economy:_gva_(£m)                        138.661230  ...  1.373787
local_green_economy:_%_of_total_gva                    0.016627  ...  0.476991

[5 rows x 3 columns]

In [53]:
numerical_columns

     ge2019_implied_results:_electorate  ...  sewage_overflows:_total_duration_of_spills_within_constituency_(hrs)
0                                 77531  ...                                             366.75
1                                 72512  ...                                             299.62
2                                 73107  ...                                            5740.32
3                                 70045  ...                                           15596.86
4                                 76681  ...                                           34098.61
..                                  ...  ...                                                ...
570                               73780  ...                                            4209.50
571                               70218  ...                                           19765.50
572                               70148  ...                                           25562.50
573                               70870  ...                                           10547.75
574                               51927  ...                                           27077.25

[575 rows x 41 columns]

In [54]:
def change_columns(col):
    a = col.nlargest(5)
    b = col.nsmallest(6)
    
    return a, b

In [55]:
ratio  = numerical_columns.apply(change_columns, axis=0)
ratio.T

                                                                                                    0                                                  1
ge2019_implied_results:_electorate                  296    92578
335    82314
36     81511
196    ...  574    51927
241    55555
42     56696
240    ...
ge2019_implied_results:_majority                    50     34557
275    34511
276    33052
254    ...  502     27
523     64
545    151
118    207
12...
poll:_environment/climate_change_important_issu...  233    0.84
88     0.81
346    0.81
544    0.8...  192    0.52
511    0.53
79     0.54
399    0.5...
local_green_economy:_gva_(£m)                       109    3095.9
372     553.9
503     464.7
227 ...  269    23.1
268    23.5
91     27.5
189    31....
local_green_economy:_%_of_total_gva                 95     0.1586
214    0.1586
454    0.1586
225 ...  493    0.0124
382    0.0130
167    0.0137
249 ...
local_green_economy:_fte_jobs                       109    29257.8
372     6030.9
247     4326.2
2...  269    404.0
268    410.0
91     431.6
189    ...
local_green_economy:_fte_jobs_(%)                   95     0.0599
214    0.0599
454    0.0599
212 ...  42     0.0162
268    0.0190
269    0.0190
314 ...
energy_crisis_hotspots:_neighbourhoods_(no.)        30     69
35     69
32     65
37     62
569   ...  427    0
471    0
22     1
68     1
157    1
5...
energy_crisis_hotspots:_neighbourhoods_(%)          30     0.884615
35     0.884615
37     0.86111...  427    0.000000
471    0.000000
542    0.01587...
energy_crisis_hotspots:_average_energy_bill_(£)     426    2920.0
434    2920.0
152    2910.0
342 ...  22     2270.0
519    2270.0
169    2290.0
297 ...
epcs:_homes_in_bands_a/b/c_(%)                      367    0.822592
22     0.720357
396    0.71329...  37     0.204969
558    0.213454
31     0.25398...
epcs:_homes_in_bands_d/e/f/g_(%)                    37     0.795031
558    0.786546
31     0.74601...  367    0.177408
22     0.279643
396    0.28670...
epcs:_homes_in_bands_a/b/c_(no.)                    367    55414
109    50716
396    44263
289    ...  37      8411
91      9987
31     10078
574    ...
epcs:_homes_in_bands_d/e/f/g_(no.)                  247    42816
558    41883
42     36887
109    ...  367    11951
22     15044
254    15747
306    ...
epcs:_loft_insulation_recommendations_(%)           91     0.319259
155    0.291265
111    0.27587...  367    0.044810
22     0.063378
289    0.06869...
epcs:_cavity_wall_insulation_recommendations_(%)    369    0.443585
368    0.424223
42     0.41183...  68     0.051242
487    0.052413
201    0.05814...
epcs:_solid_wall_insulation_recommendations_(%)     150    0.679896
247    0.634747
569    0.63271...  306    0.014613
157    0.018925
200    0.02652...
epcs:_loft_insulation_recommendations_(no.)         558    14080
111    13480
155    12780
448    ...  367    3020
22     3410
290    4100
289    414...
epcs:_cavity_insulation_recommendations_(no.)       369    21520
42     21310
368    18090
441    ...  68     2180
487    2400
404    2460
194    314...
epcs:_solid_insulation_recommendations_(no.)        247    51150
109    40560
97     39240
202    ...  306     730
157     770
200    1180
54     151...
respiratory_disease_prevalence_(%)                  64     0.119135
42     0.116392
148    0.11609...  109    0.044739
247    0.046462
60     0.04895...
air_pollution:_neighbourhoods_where_no2_above_w...  247    94
97     80
109    80
158    74
166   ...  4     0
25    0
27    0
38    0
41    0
44    ...
air_pollution:_neighbourhoods_where_pm2.5_above...  247    94
97     80
109    80
192    76
42    ...  334    0
520    0
545    0
558    0
574    1
8...
air_pollution:_neighbourhoods_where_no2_above_w...  1     1.0
7     1.0
10    1.0
18    1.0
20    ...  4     0.0
25    0.0
27    0.0
38    0.0
41    ...
air_pollution:_neighbourhoods_where_pm2.5_above...  0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
N...  334    0.000000
520    0.000000
545    0.00000...
extreme_heat:_neighbourhoods_at_risk_(no.)          247    94
109    80
97     79
202    74
158   ...  2     0
7     0
11    0
12    0
13    0
17    ...
extreme_heat:_neighbourhoods_at_risk_(%)            0     1.0
8     1.0
9     1.0
10    1.0
14    ...  2     0.0
7     0.0
11    0.0
12    0.0
13    ...
flooding:_neighbourhoods_at_risk_(no.)              247    91
192    76
33     75
314    75
202   ...  22     0
250    2
518    3
63     6
251    7
2...
flooding:_neighbourhoods_at_risk_(%)                0    1.0
1    1.0
3    1.0
4    1.0
5    1.0
N...  22     0.000000
250    0.029412
518    0.05000...
accessible_green_space:_m2_per_person               517    10583.6
222     9797.2
412     7468.2
3...  242    3.0
243    3.0
372    3.2
23     3.3
49...
tree_canopy_cover:_hectares                         222    39287.345709
481    28247.632789
92    ...  23      83.504810
112     90.519233
22      96...
tree_canopy_cover:_proportion_of_constituency_(%)   171    0.382821
54     0.381908
469    0.36259...  438    0.019634
424    0.020405
327    0.02340...
tree_canopy_cover:_neighbourhoods_with_less_tha...  234    65.0
42     64.0
55     64.0
117    64....  54     0.0
186    0.0
469    0.0
106    1.0
14...
tree_canopy_cover:_neighbourhoods_with_less_tha...  234    0.984848
443    0.983051
55     0.96969...  54     0.000000
186    0.000000
469    0.00000...
households_without_access_to_private_vehicles_(...  109    41009
247    40566
367    39113
243    ...  297    3172
329    3188
530    3398
427    362...
households_without_access_to_private_vehicles_(%)   227    0.698442
243    0.692527
197    0.68818...  329    0.075865
297    0.078026
427    0.08599...
bus_services:_frequency_per_hour_(2010)             109    288.79
227    203.57
347    186.75
496 ...  507    3.08
325    3.76
322    3.90
161    3.9...
bus_services:_frequency_per_hour_(2023)             109    199.51
496    176.20
358    165.26
227 ...  63     1.45
325    1.51
184    1.75
516    1.7...
bus_services:_change_in_frequency_of_service_20...  134    0.7037
74     0.6620
160    0.6462
10  ...  329   -0.8181
63    -0.8108
451   -0.7835
458 ...
sewage_overflows:_total_number_of_spills_within...  558    12124
549    11679
361     8635
555    ...  15    0
20    0
23    0
26    0
54    0
67    ...
sewage_overflows:_total_duration_of_spills_with...  549    114775.500000
558    112510.500000
555 ...  15    0.0
20    0.0
23    0.0
26    0.0
54    ...